@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

body {
  /* background-color: #ede7e2; */
  font-family: "Cormorant Garamond", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}
p {
  font-family: "Cormorant Garamond", serif;
}
ul li {
  font-family: "Cormorant Garamond", serif;
}
div {
  font-family: "Cormorant Garamond", serif;
}

.header {
  padding: 2rem 2rem;
  background: transparent;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.nav_menu li a {
  font-size: 1rem;
  font-weight: 500;
  color: #fff !important;
  text-decoration: none;
  margin-right: 4rem;
}

.overlaysection {
  background-color: #000000;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
img.logo_img {
  width: 6rem;
}
.banner_section {
  position: relative;
}

.banner_con {
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  width: 60%;
  place-content: center;
  margin: 0 auto;
  text-align: center;
}
.banner_con h2 {
  font-size: 2.1rem;
  font-weight: 300;
  color: #fff;
  z-index: 3;
}
.social_mediasec {
  position: absolute;
  top: 90%;
  left: 13%;
}
.social_ico {
  font-size: 1.1rem;
  color: #fff;
  margin-right: 1.5rem;
  border: 1px solid #fff;
  padding: 4px 8px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
/* .ban_carousel {
  height: 100vh;
} */
.carousel-item .carousel_img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
#carouselExampleIndicators {
  height: 100vh;
  overflow: hidden;
}

/* INDEX SECTION-1 START */

.section1 {
  padding: 5rem 10rem 2rem;
  /* background-color: ; */
  /* opacity: 10 !important; */
}
.section1 h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-bottom: 3rem;
}
.section1 p {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  text-align: center;
  line-height: 2.5;
  padding: 0rem 10rem;
}

/* INDEX SECTION-1 END */

/* INDEX GALLERY SECTION START */

.galleryimg_sec {
  padding: 0rem 14rem 0rem;
}
.gallery_mainimg {
  width: 100%;
}
.gallery_mainimg:hover {
  transform: scale(1.2);
  transition: 0.8s ease;
}
.gallery_subimgs {
  width: 100%;
  margin-bottom: 3rem !important;
}
/* .gallery_subimgs:hover {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  } */
.gallery_subimages {
  margin-top: 2rem !important;
}
.button_sec {
  text-align: center;
  margin-top: 4rem !important;
}
.btn_default {
  background-color: #fff;
  border-color: #000;
  color: #000;
  border-radius: 3px;
}
.hide_section {
  display: none;
}
.hide_section h1 {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gallery_subimgs:hover + .hide_section {
  display: block;
}
.img_sec {
  position: relative;
}
.overlayimage {
  background-color: #000000;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.gallery_section {
  padding: 0rem 0rem;
}
.isotope-filters {
  margin-bottom: 4rem !important;
}
section {
  padding: 0px 0 !important;
}
/* INDEX GALLERY SECTION END */

/* INDEX SECTION-3 START */

.video_section {
  width: 100% !important;
  padding: 4rem 0rem 0rem;
}
.sub_videosec {
  padding: 4rem 0rem;
}
/* .video_section {
    margin-bottom: 2rem !important;
  } */
.sub_videosec h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-bottom: 0rem !important;
}
.feedback_section {
  background-image: url("assets/img/indeximg/feedbackbgimg.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  margin: 0rem 0rem 0rem;
  padding: 4rem 0rem;
  position: relative;
}
.feedback_con {
  text-align: center;
  color: #fff;
}
.feedback_con h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}
.feedback_con h5 {
  font-size: 14px;
  font-weight: 500;
  color: #999;
}
.overlayfeedback {
  background-color: #000000;
  opacity: 0.55;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.feedback_con p {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  margin-top: 2rem !important;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
img.feed_profile {
  width: 5rem;
  border-radius: 50%;
  height: 5rem;
  margin-bottom: 1rem;
}

/* INDEX SECTION-3 END */

/* SERVICES SECTION START */

.service_section {
  padding: 4rem 8rem;
}
.service_section h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  margin: 0 auto;
  width: 62%;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.ser_ico {
  font-size: 3rem;
}
.service_con {
  text-align: center;
}
.service_con h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
}

/* SERVICES SECTION START */

/* ABOUT SECTION START */

img.innerbanimg {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -225px;
  margin-bottom: 0px;
  padding: 0px 0px 100px 0px;
}
.inner_bannersec {
  height: 19rem;
  overflow: hidden;
  position: relative;
}
.about_section {
  padding: 4rem 6rem;
}
.about_section h1 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: underline;
}
.about_section p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  line-height: 2;
  text-align: center;
  margin-bottom: 2rem !important;
}
.services_sec {
  padding: 3rem 0rem 0rem;
}
.aboutoverlay {
  background-color: #000000;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 19rem;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.services_sec h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  text-decoration: underline;
}
.ser_con h3 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #000;
}
.ser_con p {
  font-size: 1rem;
  text-align: left;
}
.abtimg_sec {
  padding: 0rem 6rem;
  margin-bottom: 4rem !important;
}
.abt_img {
  width: 100%;
}
.grid_row {
  padding: 5rem 0rem 0rem;
}
.bttn_sec {
  text-align: center;
}
.ser_con {
  margin-bottom: 5rem;
}

/* ABOUT SECTION END */

/* CONTACT SECTION START  */

.ban_con {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.ban_con h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  z-index: 2;
}
.contact_section {
  padding: 6rem 16rem;
}
.contact_section .form-control {
  border: none !important;
  border-bottom: 1px solid #ccc !important;
  margin-bottom: 1rem !important;
  background-color: transparent;
  color: #fff;
  border-radius: unset !important;
}
.form-control:focus {
  box-shadow: unset !important;
}
.user_detail h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}
.frm_btn {
  text-align: center;
}
.user_detail {
  padding: 2rem;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}
.form-control::placeholder {
  color: #fff;
  opacity: 1;
}
.con_detailsec {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 2rem;
}
.con_detailsec h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
}
.grid-col {
  padding-right: 0px !important;
  padding-left: 0px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.condetsec {
  display: flex;
  padding: 1rem 0rem 0rem;
  /* margin-bottom: 1rem !important; */
}
.condetsec span {
  font-weight: 800;
  color: #000;
  font-size: 1.2rem;
  line-height: 2;
}
.condetsec p {
  font-size: 1.2rem;
  font-weight: 600;
  color: #999;
  /* opacity: 0.9; */
  margin-bottom: 0px !important;
  line-height: 2.2;
  margin-left: 0.5rem !important;
}
.conico_sec {
  margin-right: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-top: 0.2rem;
  padding: 4px 8px;
}
.btn_default:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

/* CONTACT SECTION END  */

/* GALLERY SECTION START  */

.gallery_con {
  padding: 3rem;
  text-align: center;
}
.gallery_con h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 2rem;
}
.gallery_con p {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  line-height: 1.5;
  margin-bottom: 1rem !important;
  margin: 0 auto;
  width: 90%;
}

/* GALLERY SECTION START  */

/* FOOTER SECTION START */

.footer {
  background-color: #080202;
  padding: 2rem 5rem;
}
.footer_consec p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 1.8;
}
.footer_consec h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 2rem;
  margin-left: 4rem;
}
.footer_consec ul {
  list-style: none;
  padding: 0;
}
.footer_consec ul li {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem !important;
  margin-left: 4rem;
}
.socialmedia {
  margin-top: 2rem !important;
}
.footersocial_ico {
  font-size: 1.1rem;
  color: #fff;
  margin-right: 2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 4px 8px;
  width: 2rem;
  height: 2rem;
}
.footer_bottom {
  padding: 1.5rem 0rem 0rem;
  border-top: 1px solid #ccc;
  margin-top: 2rem;
  text-align: center;
}
.footer_bottom p {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0rem !important;
}

/* FOOTER SECTION END */

/* @MEDIAQUERY SECTION START */

@media only screen and (max-width: 1024px) {
  .header {
    padding: 1rem 0rem !important;
  }
  .navbar-toggler {
    background-color: #fff;
  }
  div#navbarSupportedContent {
    background-color: #fff;
    width: 90%;
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    border-radius: 12px;
  }
  #carouselExampleIndicators {
    height: unset !important;
    overflow: hidden;
  }
  .nav-link li a {
    color: #000 !important;
  }
  .banner_con {
    top: 90px;
    height: unset;
  }
  .banner_con h2 {
    font-size: 1rem;
  }
  .section1 p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0rem 1rem !important;
  }
  /* .portfolio .portfolio-item {
    position: unset !important;
    overflow: visible;
  } */
  .social_mediasec {
    display: none;
  }
  .section1 {
    padding: 2rem 1rem;
  }
  .section1 h1 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .service_section {
    padding: 2rem 1rem;
  }
  .service_section h1 {
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 2rem !important;
  }
  .ser_ico {
    font-size: 2rem;
  }
  .service_con h4 {
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
  }
  .feedback_con p {
    width: 100%;
  }
  .car_nxt,
  .car_prev {
    top: -164px;
  }
  .footer {
    padding: 2rem 1rem !important;
  }
  .footer_consec ul li {
    margin-bottom: 1rem !important;
    margin-left: 0rem;
  }
  .footer_consec h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-top: 2rem;
  }
  .galleryimg_sec {
    padding: 0rem 1rem 0rem;
  }
  .sub_videosec {
    padding: 3rem 0rem 0rem;
  }
  .gallery_section {
    padding: 0rem 0rem;
  }
  .nav_menu li a {
    color: #000 !important;
}
.nav_menu {
  padding: 2rem;
}
.about_section {
  padding: 4rem 1rem;
}
.navbar-toggler {
  z-index: 10;
}
.gallery_con {
  padding: 3rem 0rem !important; 
}
.button_sec {
  margin-top: 2rem !important;
  margin-bottom: 2rem;
}
.contact_section {
  padding: 2rem 2rem;
}
 /* Close icon (cross) for the navbar toggler */
 .navbar-toggler-icon-close:before {
  content: "\f015"; 
  font-family: 'Font-Awesome'; 
  font-size: 1.5rem; 
}
/* Change the icon when the navbar is expanded */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  display: none; /* Hide the default hamburger icon */
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-close {
  display: block; /* Show the close icon when the menu is open */
}


}
@media only screen and (max-width: 980px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 640px) {
}
@media only screen and (max-width: 480px) {
}
@media only screen and (max-width: 360px) {
}
@media only screen and (max-width: 320px) {
}

/* @MEDIAQUERY SECTION END */
